body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}
.choose-lang{
    display: flex;
    justify-content: flex-end;
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.city{
    width: 650px;
    height: 40px;
    border-radius: 30px;
    padding: 0px 0px 0 40px;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 6%;
}
.city:focus{
    outline:none;
}
.z{
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
		text-align: center;
}
.x{
    font-size: 15px;
    font-family: 'Jost', sans-serif;
}
.fa{
    position: relative;
    left: 35px;
}
.card{
    background-color: rgb(210, 225, 231);
    width: 1000px;
    height: 250px;
    margin-left: 15%;
    margin-bottom: 2%;
    border-radius: 20px;
}
.cards{
    height: 65vh;
    overflow: scroll;
    background-color: white;
    padding-top: 10px;

}
.dummy{
    height: 250px;
    width: 250px;
    float: left;
}

.general-info{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.info{
    display: flex;
    margin-bottom: 1%;

}
.storeName{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
.address{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-bottom: 2%;

}
.timeSlot{
    /* padding: 10px 15px 10px 15px; */
    width: 8%;
    height: 15%;
    background-color: transparent;
    border-color: blue;
    color: blue;
    margin-right: 4%;
    margin-left: 4%;
    border-radius: 15%;
    margin-bottom: 1%;

}
.timeSlot:focus{
    outline: none;
    background-color: blue;
    color: white;
}
.timeSlot:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}
.booked{
    width: 12%;
    height: 15%;
    background-color: green;
    border-color: green;
    color: white;
    margin-top: 1%;
    cursor: pointer;
}
.booked:focus{
    outline: none;
}
.notAvailable{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: red;
    margin-bottom: 5%;
}
.confirmed{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: green;
}
.time{
    position: absolute;
    left: 10px;
    margin-top: 5%;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
.customerID{
    position: absolute;
    left: 10px;
    margin-top: 10%;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.newuser{
    background-color: #353839;
    color: white;
    padding: 20px;
    margin: 40px 50px;
    border-radius: 5px;
    background: linear-gradient(rgba(190, 189, 190, 0.73),rgba(13, 13, 13, 0.82)), url('https://images.pexels.com/photos/1279813/pexels-photo-1279813.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
